{
    "*": [
        "node_modules/.bin/prettier --ignore-unknown --write",
        "node_modules/.bin/prettier --ignore-unknown --check"
    ],
    "src/**/*.{js,ts}": [
        "node_modules/.bin/eslint --fix",
        "node_modules/.bin/eslint"
    ],
    "**/*.md": [
        "pnpm run fix:markdown",
        "pnpm run check:markdown"
    ]
}
