{
    "src/**/*.css": "node_modules/.bin/stylelint",
    "src/**/*.html": "node_modules/.bin/htmlhint",
    "src/**/*.{js,ts}": [
        "node_modules/.bin/eslint --fix",
        "node_modules/.bin/prettier --write",
        "node_modules/.bin/eslint",
        "node_modules/.bin/prettier --check"
    ],
    "**/*.md": [
        "pnpm run fix:markdown",
        "pnpm run check:markdown"
    ]
}
