# SC1091: Disable the warning about shellchecker being unable to follow a
# non-constant source
# <https://github.com/koalaman/shellcheck/wiki/SC1091>
disable=SC1090

# SC1091: Disable the warning about shellchecker being unable to follow any
# sourced file
# <https://github.com/koalaman/shellcheck/wiki/SC1091>
disable=SC1091

# SC1091: Disable the warning of assigning a variable's value in the same line
# as initializing it
# <https://github.com/koalaman/shellcheck/wiki/SC1091>
disable=SC2155

# Disables the warning how using both the '-p' and '-m' options with mkdir only
# applies chmod to the deepest directory
# <https://github.com/koalaman/shellcheck/wiki/SC2174>
disable=SC2174

# Disables the warning involving how a function does not have all its arguments
# fulfilled; this will allow for the implementation of optional arguments
# <https://github.com/koalaman/shellcheck/wiki/SC2119>
disable=SC2119
