:host {
    display: block;
}

.virtual-scroll-viewport {
    display: flex;
    height: 100vh;
    flex-flow: nowrap;
    overflow: hidden;
    overscroll-behavior: none;
    position: relative;
    width: 100vw;
}

.virtual-scroll-track {
    transition: transform 300ms ease-in 0s;
    will-change: transform;
}
