:host {
    display: block;
}

.virtual-scroll-viewport {
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
    position: fixed;
    width: 100vw;
}

.virtual-scroll-track {
    transform-style: flat;
    transition: transform 300ms ease-in 0s;
    will-change: transform;
}
