:host {
    display: block;
    height: min-content;
    float: left;
    width: min-content;
}

.content-tile {
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
    padding: 10px;
    position: relative;
    width: 316px;
}

.content-tile-container {
    display: inline-block;
    width: 100%;
}

.content-tile-container::after {
    border-radius: 4px;
    border: 4px solid rgb(255 255 255 / 0%);
    inset: 0;
    content: "";
    position: absolute;
    transition: border 300ms ease-out 0s;
}

.content-tile-link {
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 69%) 0 26px 30px -10px, rgb(0 0 0 / 73%) 0 16px 10px -10px;
    box-sizing: border-box;
    display: block;
    position: relative;
    transform: scale(1, 1) translateZ(0);
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
}

.content-tile-link:focus,
.content-tile-link:focus-within {
    box-shadow: rgb(0 0 0 / 80%) 0 40px 58px -16px, rgb(0 0 0 / 72%) 0 30px 22px -10px;
    transform: scale(1.05, 1.05) translateZ(0) translate3d(0, 0, 0);
}

.content-tile-link::after {
    border-radius: 4px;
    border: 4px solid rgb(255 255 255 / 0%);
    inset: 0;
    content: "";
    position: absolute;
    transition: border 300ms ease-out 0s;
}

.content-tile-link:focus::after,
.content-tile-link:focus-within::after {
    border: 4px solid rgb(249 249 249 / 80%);
}

.image-container {
    background: linear-gradient(rgb(48 50 62), rgb(30 31 42));
    border-radius: 4px;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.content-image-tile {
    border-style: none;
    display: block;
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.image-failsafe-title {
    color: var(--white);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    left: 50%;
    letter-spacing: 0.11px;
    line-height: 100%;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/*
 * @NOTE: Due to the strict nature of the ShadowDOMs, the style selectors that
 *        derive from classes added by the carousel component in this component's
 *        styles as a quick & temporary workaround until a means of creating
 *        effecctive CSS selectors that can pierce through the ShadowDOMs is
 *        understood.
 */
.carousel-item img {
    opacity: 0;
    transition: opacity 500ms ease-in-out 0s;
}

.partially-visible img {
    opacity: 0.4;
}

.fully-visible,
.fully-visible img {
    opacity: 1;
}
