:root {
    background-color: rgb(26 29 41);
    height: 100vh;
    position: fixed;
    top: 0;
    transition: opacity 200ms ease 0s;
    width: 100%;
    z-index: -3;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px;
    padding: 21px;
}
